.img11{
  width: 86px;
  height: 120px;
  padding-left: 50%;
}
.img12{
  width: 86px;
  height: 120px;
}
.avatar-uploader{
  padding-right: 40%;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 86px;
  height: 120px;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 130px;
  line-height: 130px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.rxbdres{
  overflow:hidden;
  min-width: 1600px;
  height: 1023px;
  background-image: url(/static/img/rxbdres_back.png);
  background-repeat: no-repeat;
  background-size: 85% 85%;
  color: azure;
  z-index: 9;
  margin:5% 0% 0% 8%;
}
.box-card_rxbdres{
  border:0px!important;
  background: transparent;
  color: white;
  margin-top: 20px;
}
.el-form-item__label .el-checkbox{
  color:white;
}

.rxbd_sxtj>.el-form-item__label{
  color: white;
}
.rxbd_sxtj>.el-checkbox__label{
  color: white;
}
.rxbd_sxtj>.el-radio__input{
  color: rgba(255,255,255,1);
}
.box-card_rxbdcard{
  height: 250px;
  background-image: url(/static/img/rxbdcard_back.png);
  background-repeat: no-repeat;
  background-size: 90% 90%;
  color: azure;
  z-index: 9;
  margin:2% 3% 0% 1%;
  height:205px;
}
.rxbdres_bluebutton>.el-button{
  background:rgba(51,135,221,0.49);
  border:1px solid rgba(70,129,219,1);
  color:rgba(216,237,255,1);
}
.rxbdres_search{
  width: 100px;
  height:40px;
  margin-right: 25%;
  background:rgba(93,148,56,1);
  border:1px solid rgba(165,215,131,1);
  border-radius:2px;
  color: rgba(255,255,255,1);
}
.box-card_rxbdres>.el-card__body{
  position: relative;
  top:-20px;
  left:-15px;
  padding-top: 20px;
}
.avatar-uploader-icon{
  width: 82px;
  height: 106px;
}
.export-btn{
  width: 103px;
  height:40px;
  margin-right: 10px;
}
.cancel-btn{
  width: 100px;
  height:40px;
  margin-right: 3%;
}
.el-form-item{
  margin-bottom: 5px;
}
